Repository vortico/flama: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, types

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=2000
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
        args:
          - --django
        exclude: "asserts.py|utils.py"
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
        exclude: "templates/.+\\.json"
  - repo: git@github.com:alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: format
        name: Code formatting
        entry: ./scripts/format
        language: system
        types: [file, python]
        exclude: "make"
      - id: lint
        name: Code linting
        entry: ./scripts/lint --fix
        language: system
        types: [file, python]
        exclude: "make"
      - id: types
        name: Static types check
        entry: ./scripts/types
        language: system
        types: [file, python]
        exclude: "(make|tests/|examples/)"

:recycle: Make the upgrade tool internal and expand v2 migration coverage
  flama/_cli/commands/upgrade.py
  flama/_upgrade/__init__.py
  flama/_upgrade/codemods/__init__.py
  flama/_upgrade/codemods/v2.py
  flama/_upgrade/migration.py
  flama/_upgrade/operations/__init__.py
  flama/_upgrade/operations/_base.py
  flama/_upgrade/operations/calls.py
  flama/_upgrade/operations/flags.py
  flama/_upgrade/operations/imports.py
  flama/_upgrade/report.py
  flama/_upgrade/runner.py
  flama/_upgrade/source.py
  flama/upgrade/__init__.py
  flama/upgrade/codemods/__init__.py
  flama/upgrade/codemods/v2.py
  flama/upgrade/operations.py
  tests/unit/upgrade/test_migration.py
  tests/unit/upgrade/test_operations.py
  tests/unit/upgrade/test_report.py
  tests/unit/upgrade/test_runner.py
  tests/unit/upgrade/test_source.py
  tests/unit/upgrade/test_v2.py
Due: format, lint, types

:bookmark: 2.0.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  2116dfa058726ac44656c98c856f3810b67d44ca
Due: none

:bug: Templates included in maturin building
  pyproject.toml
Due: none

:bookmark: 2.0.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  4184c7ad692e6d279358ccb7488c4f5dd052fab4
Due: none

:bug: Wrong import in CLI app template
  flama/_cli/templates/app.py.j2
Due: none

:bookmark: 2.0.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  aede6bbb70c258e48a1e45742efa0d46d3736f5b
Due: none

:arrow_up: Bump the python group across 1 directory with 9 updates
  pyproject.toml
  uv.lock
Due: none

:bug: Normalise multimodal chat-template tokens
  flama/models/engine/backend/llm/_base.py
  tests/unit/models/engine/backend/llm/test_vllm.py
Due: format, lint, types

:white_check_mark: Build transformers test fixtures offline
  tests/_utils/models.py
  tests/performance/test_compression.py
  tests/performance/test_injection.py
  tests/performance/test_json.py
  tests/performance/test_mcp.py
  tests/performance/test_middleware.py
  tests/performance/test_openapi.py
  tests/performance/test_routing.py
  tests/performance/test_schema.py
  tests/performance/test_streaming.py
  tests/unit/endpoints/test_http.py
  tests/unit/endpoints/test_jsonrpc.py
  tests/unit/endpoints/test_websocket.py
  tests/unit/models/resources/test_ml.py
  tests/unit/test_injection.py
Due: format, lint

:bug: Normalise multimodal chat template tokens
  flama/models/engine/backend/llm/_base.py
  tests/unit/models/engine/backend/llm/test_vllm.py
Due: format, lint, types

:bookmark: 2.0.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  6198ac7380b4bd8b4943adb51ea3eb19d392b849
Due: none

:bug: Code block autoscrolling on error page
  lib/templates/package.json
  lib/templates/pnpm-lock.yaml
  lib/templates/src/apps/debug/components/ErrorTraceback.tsx
Due: none

:bookmark: 2.0.5 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  ac3348e9dd2ac6ed2782c7a60af6d3ce58382cca
Due: none

:bug: Decoder is not created when not needed in cli app template
  flama/_cli/commands/model.py
  flama/_cli/config/app.py
  flama/_cli/templates/app.py.j2
  tests/unit/cli/config/test_app.py
Due: format, lint, types

:package: Improve building integration with private npm repository
  .github/CONTRIBUTING.md
  .github/actions/build-templates/action.yaml
  .github/actions/setup/action.yaml
  .gitignore
  Makefile
  lib/templates/.npmrc
  lib/templates/package.json
  lib/templates/pnpm-workspace.yaml
  scripts/_env
  scripts/build
  scripts/install
  scripts/login
  scripts/publish
Due: none

:construction_worker: Speed up performance testing
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  scripts/performance
Due: none

:bookmark: 2.0.6 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  f615cedd5e6eb41e984d3256b8945ad09d5a710c
Due: none

:construction_worker: Improve CI caching and remove warnings
  .github/actions/setup/action.yaml
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  scripts/publish
Due: none

:memo: Update repository documentation and media
  .github/FUNDING.yml
  .github/assets/chat.gif
  .github/assets/serve.gif
  .github/assets/stream.gif
  .github/social-preview.png
  .github/social-preview.svg
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .pre-commit-config.yaml
  README.md
  SECURITY.md
  SUPPORT.md
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/add_models.py
  examples/background.py
  examples/components.py
  examples/data_schema.py
  examples/error.py
  examples/hello_flama.py
  examples/ml_responsive_pytorch.py
  examples/ml_responsive_sklearn.py
  examples/ml_responsive_tensorflow.py
  examples/pagination.py
  examples/resource.py
  examples/v2/auth_stack.py
  examples/v2/compression.py
  examples/v2/http_core.py
  examples/v2/llm.py
  examples/v2/mcp.py
  examples/v2/resources.py
  examples/v2/schema.py
  examples/v2/serialization.py
  examples/v2/streaming.py
  flama/_cli/commands/run.py
  pyproject.toml
Due: format, lint, types

Add MseeP.ai badge to README.md
  README.md
Due: none

:construction_worker: Scripts for update dependencies
  Makefile
  scripts/update
  scripts/update_templates
Due: none

:package: Fix auth to npm private repository
  scripts/_env
Due: none

:arrow_up: Bump mlx to 0.32 and mlx-vlm to 0.6.7
  pyproject.toml
  uv.lock
Due: none

:bug: Capabilities declared in config but absent from checkpoint
  flama/serialize/model_serializers/transformers.py
  tests/unit/serialize/model_serializers/test_transformers.py
Due: format, lint, types

:bug: Text-only bundle fails when mlx-lm lacks its architecture
  flama/models/engine/backend/llm/mlx.py
  tests/unit/models/engine/backend/llm/test_mlx.py
Due: format, lint, types

:bug: Mid-conversation system turns rejected by Anthropic parser
  flama/models/wire/dialect/llm/anthropic/parser.py
  tests/unit/models/resources/serving/llm/test_anthropic.py
  tests/unit/models/wire/dialect/llm/anthropic/test_parser.py
Due: format, lint, types

:bug: Drop tool narration on wrong templates
  flama/models/_base.py
  flama/models/engine/backend/llm/_base.py
  flama/models/engine/backend/llm/mlx.py
  flama/models/exceptions.py
  flama/models/wire/dialect/llm/anthropic/parser.py
  flama/routing/routes/http.py
  tests/unit/models/engine/backend/llm/test_base.py
  tests/unit/models/test_base.py
Due: format, lint, types
