Repository vortico/flama: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, types

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=2000
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
        args:
          - --django
        exclude: "asserts.py|utils.py"
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
        exclude: "templates/.+\\.json"
  - repo: git@github.com:alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: format
        name: Code formatting
        entry: ./scripts/format
        language: system
        types: [file, python]
        exclude: "make"
      - id: lint
        name: Code linting
        entry: ./scripts/lint --fix
        language: system
        types: [file, python]
        exclude: "make"
      - id: types
        name: Static types check
        entry: ./scripts/types
        language: system
        types: [file, python]
        exclude: "(make|tests/|examples/)"

:sparkles: Add dialect and serving base abstractions (#212)
  flama/models/resources/serving/__init__.py
  flama/models/resources/serving/base.py
  flama/models/resources/serving/llm/__init__.py
  flama/models/resources/serving/llm/base.py
  flama/models/wire/__init__.py
  flama/models/wire/dialect/__init__.py
  flama/models/wire/dialect/base.py
  flama/models/wire/dialect/llm/__init__.py
  tests/unit/models/resources/serving/__init__.py
  tests/unit/models/resources/serving/llm/__init__.py
  tests/unit/models/resources/serving/llm/test_base.py
  tests/unit/models/resources/serving/test_base.py
  tests/unit/models/wire/dialect/llm/__init__.py
  tests/unit/models/wire/dialect/test_base.py
Due: format, lint, types

:wrench: Migrate templates to pnpm and @vortico/ui (#218)
  lib/templates/.npmrc
  lib/templates/eslint.config.js
  lib/templates/package-lock.json
  lib/templates/package.json
  lib/templates/pnpm-lock.yaml
  lib/templates/pnpm-workspace.yaml
  lib/templates/postcss.config.js
  lib/templates/prettier.config.js
  lib/templates/tsconfig.json
Due: none

:recycle: Split schema libraries into packages (#213)
  flama/schemas/_libs/marshmallow/schemas.py
  flama/schemas/_libs/marshmallow/schemas/__init__.py
  flama/schemas/_libs/marshmallow/schemas/core.py
  flama/schemas/_libs/marshmallow/schemas/ml.py
  flama/schemas/_libs/marshmallow/schemas/pagination.py
  flama/schemas/_libs/pydantic/schemas.py
  flama/schemas/_libs/pydantic/schemas/__init__.py
  flama/schemas/_libs/pydantic/schemas/core.py
  flama/schemas/_libs/pydantic/schemas/ml.py
  flama/schemas/_libs/pydantic/schemas/pagination.py
  flama/schemas/_libs/typesystem/schemas.py
  flama/schemas/_libs/typesystem/schemas/__init__.py
  flama/schemas/_libs/typesystem/schemas/core.py
  flama/schemas/_libs/typesystem/schemas/ml.py
  flama/schemas/_libs/typesystem/schemas/pagination.py
  flama/schemas/generator.py
  tests/unit/schemas/_libs/test_registry.py
  tests/unit/schemas/test_generator.py
Due: format, lint, types

:wrench: Wire up build scripts and CI (#219)
  .github/CONTRIBUTING.md
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  Makefile
  scripts/_env
  scripts/build
  scripts/fetch_templates
  scripts/install
  scripts/login
  scripts/publish
Due: none

:recycle: Restructure models package and resources (#212)
  flama/models/__init__.py
  flama/models/base.py
  flama/models/components.py
  flama/models/llm_resource.py
  flama/models/modules.py
  flama/models/resources/__init__.py
  flama/models/resources/base.py
  flama/models/resources/llm.py
  flama/models/resources/ml.py
  tests/_utils/models.py
  tests/conftest.py
  tests/unit/models/conftest.py
  tests/unit/models/resources/__init__.py
  tests/unit/models/resources/test_base.py
  tests/unit/models/resources/test_llm.py
  tests/unit/models/resources/test_ml.py
  tests/unit/models/test_base.py
  tests/unit/models/test_components.py
  tests/unit/models/test_llm_resource.py
  tests/unit/models/test_modules.py
Due: format, lint, types

:sparkles: Add CLI command to serve LLM models (#213)
  flama/_cli/commands/get.py
  flama/_cli/commands/model.py
  flama/_cli/config/app.py
  flama/_cli/config/config.py
  flama/_cli/config/uvicorn.py
  flama/_cli/templates/app.py.j2
  tests/unit/cli/commands/conftest.py
  tests/unit/cli/commands/test_get.py
  tests/unit/cli/commands/test_model.py
  tests/unit/cli/commands/test_run.py
  tests/unit/cli/commands/test_serve.py
  tests/unit/cli/commands/test_start.py
  tests/unit/cli/config/test_app.py
  tests/unit/cli/config/test_config.py
  tests/unit/cli/config/test_uvicorn.py
  tests/unit/cli/test_formatting.py
Due: format, lint, types

:sparkles: Add Ollama dialect and serving (#215)
  flama/models/resources/serving/llm/ollama.py
  flama/models/wire/dialect/llm/ollama/__init__.py
  flama/models/wire/dialect/llm/ollama/assembler.py
  flama/models/wire/dialect/llm/ollama/dialect.py
  flama/models/wire/dialect/llm/ollama/parser.py
  flama/models/wire/dialect/llm/ollama/renderer.py
  flama/schemas/_libs/marshmallow/schemas/llm_ollama.py
  flama/schemas/_libs/pydantic/schemas/llm_ollama.py
  flama/schemas/_libs/typesystem/schemas/llm_ollama.py
  tests/unit/models/resources/serving/llm/test_ollama.py
  tests/unit/models/wire/dialect/llm/ollama/test_dialect.py
  tests/unit/models/wire/dialect/llm/ollama/test_parser.py
  tests/unit/models/wire/dialect/llm/ollama/test_renderer.py
  tests/unit/schemas/test_llm_ollama.py
Due: format, lint, types

:truck: Restructure templates into per-app layout (#218)
  lib/templates/src/apps/debug/components/EnvironmentTable.tsx
  lib/templates/src/apps/debug/components/ErrorTitle.tsx
  lib/templates/src/apps/debug/components/ErrorTraceback.tsx
  lib/templates/src/apps/debug/components/RequestTable.tsx
  lib/templates/src/apps/debug/components/Section.tsx
  lib/templates/src/apps/debug/components/Table/ArrayValue.tsx
  lib/templates/src/apps/debug/components/Table/MapValue.tsx
  lib/templates/src/apps/debug/components/Table/Row.tsx
  lib/templates/src/apps/debug/components/Table/Table.tsx
  lib/templates/src/apps/debug/components/Table/Value.tsx
  lib/templates/src/apps/debug/components/Table/index.ts
  lib/templates/src/apps/debug/components/URLTree.tsx
  lib/templates/src/apps/debug/components/index.ts
  lib/templates/src/apps/debug/data/Environment.ts
  lib/templates/src/apps/debug/data/Error.ts
  lib/templates/src/apps/debug/data/Request.ts
  lib/templates/src/apps/debug/data/URLs.ts
  lib/templates/src/apps/debug/data/index.ts
  lib/templates/src/apps/debug/error_404.tsx
  lib/templates/src/apps/debug/error_500.tsx
  lib/templates/src/apps/debug/lib/codecs/html.ts
  lib/templates/src/apps/debug/lib/codecs/index.ts
  lib/templates/src/apps/schemas/components/Docs.tsx
  lib/templates/src/apps/schemas/components/index.ts
  lib/templates/src/apps/schemas/data/Docs.tsx
  lib/templates/src/apps/schemas/data/index.ts
  lib/templates/src/apps/schemas/docs.tsx
  lib/templates/src/apps/schemas/styles/docs.css
  lib/templates/src/ui/components/Footer.tsx
  lib/templates/src/ui/components/Menu.tsx
  lib/templates/src/ui/components/index.ts
Due: none

:sparkles: Add LaTeX math rendering to chatbot Markdown (#218)
  lib/templates/package.json
  lib/templates/pnpm-lock.yaml
  lib/templates/src/apps/chatbot/chat.tsx
  lib/templates/src/apps/chatbot/components/Markdown.tsx
  lib/templates/src/ui/styles/base.css
  lib/templates/webpack.config.js
Due: none

:sparkles: Add Mermaid diagram rendering to chatbot Markdown (#218)
  lib/templates/package.json
  lib/templates/pnpm-lock.yaml
  lib/templates/src/apps/chatbot/components/Markdown.tsx
  lib/templates/src/apps/chatbot/components/Mermaid.tsx
  lib/templates/src/apps/chatbot/context/chat/useChat.ts
  lib/templates/src/apps/chatbot/context/chat/useChatStream.ts
Due: none

:recycle: Restructure injection components and context as groundwork for MCP 2026-07-28
  flama/applications.py
  flama/context.py
  flama/endpoints/base.py
  flama/endpoints/components.py
  flama/endpoints/http.py
  flama/endpoints/jsonrpc.py
  flama/endpoints/websocket.py
  flama/http/components.py
  flama/injection/context.py
  flama/injection/exceptions.py
  flama/mcp/__init__.py
  flama/mcp/components.py
  flama/mcp/endpoint.py
  flama/mcp/types.py
  flama/schemas/components.py
  flama/types/__init__.py
  flama/types/endpoints.py
  flama/types/json_rpc.py
  tests/unit/endpoints/test_base.py
  tests/unit/endpoints/test_http.py
  tests/unit/endpoints/test_jsonrpc.py
  tests/unit/http/test_components.py
  tests/unit/injection/test_context.py
  tests/unit/injection/test_injector.py
  tests/unit/injection/test_resolver.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/schemas/test_components.py
Due: format, lint, types

:boom: Adapt MCP to stateless 2026-07-28 protocol (#221)
  flama/debug/middleware.py
  flama/exceptions.py
  flama/http/data_structures.py
  flama/mcp/__init__.py
  flama/mcp/components.py
  flama/mcp/data_structures.py
  flama/mcp/endpoint.py
  flama/mcp/module.py
  flama/mcp/server.py
  flama/mcp/types.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_data_structures.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/mcp/test_exceptions.py
  tests/unit/mcp/test_server.py
Due: format, lint, types

:sparkles: Add JSON Schema 2020-12 tool schemas and trace context to MCP (#221)
  flama/mcp/components.py
  flama/mcp/data_structures.py
  flama/mcp/endpoint.py
  flama/mcp/server.py
  flama/schemas/data_structures.py
  flama/schemas/generator.py
  flama/schemas/modules.py
  flama/schemas/openapi.py
  flama/schemas/registry.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_data_structures.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/mcp/test_server.py
  tests/unit/models/engine/backend/llm/test_base.py
  tests/unit/models/wire/dialect/llm/openai/test_dialect.py
  tests/unit/schemas/test_data_structures.py
  tests/unit/schemas/test_generator.py
  tests/unit/schemas/test_openapi.py
  tests/unit/schemas/test_registry.py
  tests/unit/serialize/model_serializers/test_transformers.py
  tests/unit/serialize/test_serializer.py
Due: format, lint, types

:sparkles: Add Tasks, Elicitation and MCP Apps extensions to MCP (#221)
  flama/mcp/__init__.py
  flama/mcp/components.py
  flama/mcp/data_structures.py
  flama/mcp/endpoint.py
  flama/mcp/module.py
  flama/mcp/server.py
  flama/mcp/tasks.py
  flama/schemas/data_structures.py
  tests/unit/mcp/conftest.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_data_structures.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/mcp/test_module.py
  tests/unit/mcp/test_server.py
  tests/unit/mcp/test_tasks.py
  tests/unit/schemas/test_setup.py
Due: format, lint, types

:sparkles: Add 2020-12 tool schemas and trace context to MCP (#221)
  flama/mcp/components.py
  flama/mcp/data_structures.py
  flama/mcp/endpoint.py
  flama/mcp/server.py
  flama/schemas/data_structures.py
  flama/schemas/generator.py
  flama/schemas/modules.py
  flama/schemas/openapi.py
  flama/schemas/registry.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_data_structures.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/mcp/test_server.py
  tests/unit/models/engine/backend/llm/test_base.py
  tests/unit/models/wire/dialect/llm/openai/test_dialect.py
  tests/unit/schemas/test_data_structures.py
  tests/unit/schemas/test_generator.py
  tests/unit/schemas/test_openapi.py
  tests/unit/schemas/test_registry.py
  tests/unit/serialize/model_serializers/test_transformers.py
  tests/unit/serialize/test_serializer.py
Due: format, lint, types

:recycle: Restructure injection components and context for MCP
  flama/applications.py
  flama/context.py
  flama/endpoints/base.py
  flama/endpoints/components.py
  flama/endpoints/http.py
  flama/endpoints/jsonrpc.py
  flama/endpoints/websocket.py
  flama/http/components.py
  flama/injection/context.py
  flama/injection/exceptions.py
  flama/mcp/__init__.py
  flama/mcp/components.py
  flama/mcp/endpoint.py
  flama/mcp/types.py
  flama/schemas/components.py
  flama/types/__init__.py
  flama/types/endpoints.py
  flama/types/json_rpc.py
  tests/unit/endpoints/test_base.py
  tests/unit/endpoints/test_http.py
  tests/unit/endpoints/test_jsonrpc.py
  tests/unit/http/test_components.py
  tests/unit/injection/test_context.py
  tests/unit/injection/test_injector.py
  tests/unit/injection/test_resolver.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/schemas/test_components.py
Due: format, lint, types

:sparkles: Upgrade utility (#223)
  flama/_cli/__main__.py
  flama/_cli/commands/upgrade.py
  flama/upgrade/__init__.py
  flama/upgrade/codemods/__init__.py
  flama/upgrade/codemods/v2.py
  flama/upgrade/migration.py
  flama/upgrade/operations.py
  flama/upgrade/report.py
  flama/upgrade/runner.py
  flama/upgrade/source.py
  tests/unit/cli/commands/test_upgrade.py
  tests/unit/upgrade/test_migration.py
  tests/unit/upgrade/test_operations.py
  tests/unit/upgrade/test_report.py
  tests/unit/upgrade/test_runner.py
  tests/unit/upgrade/test_source.py
  tests/unit/upgrade/test_v2.py
Due: format, lint, types

:zap: New performance tests
  benchmarks/README.md
  flama/codecs/compression/brotli.py
  flama/codecs/compression/codec.py
  flama/codecs/compression/gzip.py
  flama/codecs/compression/negotiator.py
  scripts/benchmark
  tests/performance/conftest.py
  tests/performance/test_compression.py
  tests/performance/test_decoder.py
  tests/performance/test_mcp.py
  tests/performance/test_openapi.py
  tests/performance/test_serialize.py
  tests/performance/test_streaming.py
  tests/unit/middleware/test_compression.py
Due: format, lint, types

:bug: Prevent OpenAPI generation from hanging on recursive schemas
  flama/schemas/openapi.py
  tests/unit/schemas/test_openapi.py
Due: format, lint, types

:bug: Key the DI signature cache on the underlying function
  flama/injection/injector.py
  tests/unit/injection/test_injector.py
Due: format, lint, types

:bug: Fix lifespan instance reuse and order framework startup
  flama/applications.py
  flama/lifespan.py
  tests/unit/test_applications.py
  tests/unit/test_lifespan.py
Due: format, lint, types

:sparkles: Support decimal.Decimal parameters end-to-end
  flama/schemas/_libs/marshmallow/fields.py
  flama/schemas/_libs/typesystem/fields.py
  flama/types/http.py
  lib/core/src/json_encoder.rs
  tests/unit/core/test_json_encoder.py
  tests/unit/schemas/test_data_structures.py
  tests/unit/validation/test_params.py
Due: format, lint, types

:memo: Add v2 example applications
  examples/v2/auth_stack.py
  examples/v2/compression.py
  examples/v2/http_core.py
  examples/v2/llm.py
  examples/v2/mcp.py
  examples/v2/resources.py
  examples/v2/schema.py
  examples/v2/serialization.py
  examples/v2/streaming.py
  tests/unit/models/wire/dialect/llm/openai/test_renderer.py
  tests/unit/schemas/test_openapi.py
Due: format, lint

:label: Fixes some type errors
  .github/actions/build-templates/action.yaml
  .github/actions/setup/action.yaml
  .github/dependabot.yml
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/manual_docker_build.yaml
  flama/ddd/workers/http.py
  flama/http/data_structures.py
  flama/models/transport/input/llm/shape/base.py
  flama/models/transport/input/llm/shape/chat.py
  flama/models/transport/input/llm/shape/conversation.py
  flama/models/transport/input/llm/shape/raw.py
  flama/models/wire/dialect/base.py
  flama/models/wire/dialect/llm/anthropic/assembler.py
  flama/models/wire/dialect/llm/anthropic/dialect.py
  flama/models/wire/dialect/llm/native/assembler.py
  flama/models/wire/dialect/llm/native/dialect.py
  flama/models/wire/dialect/llm/ollama/assembler.py
  flama/models/wire/dialect/llm/ollama/dialect.py
  flama/models/wire/dialect/llm/openai/assembler.py
  flama/models/wire/dialect/llm/openai/dialect.py
  flama/routing/routes/http.py
  flama/schemas/_libs/pydantic/adapter.py
  flama/schemas/openapi.py
  tests/unit/models/wire/dialect/test_base.py
  uv.lock
Due: format, lint, types

:white_check_mark: Fixes some tests
  flama/models/engine/backend/llm/mlx.py
  flama/schemas/data_structures.py
  pyproject.toml
  tests/_utils/models.py
  tests/performance/__init__.py
  tests/unit/__init__.py
  tests/unit/codecs/__init__.py
  tests/unit/models/engine/__init__.py
  tests/unit/models/engine/backend/__init__.py
  tests/unit/models/transport/__init__.py
  tests/unit/models/transport/input/__init__.py
  tests/unit/models/transport/input/llm/__init__.py
  tests/unit/models/transport/output/__init__.py
  tests/unit/models/transport/output/llm/__init__.py
  tests/unit/models/wire/__init__.py
  tests/unit/models/wire/dialect/__init__.py
  tests/unit/models/wire/dialect/llm/native/__init__.py
  tests/unit/models/wire/dialect/llm/ollama/__init__.py
  tests/unit/models/wire/dialect/llm/openai/__init__.py
  tests/unit/schemas/_libs/__init__.py
  tests/unit/types/__init__.py
  tests/unit/upgrade/__init__.py
Due: format, lint, types

:construction_worker: Fixes CI building
  .github/CONTRIBUTING.md
  .github/workflows/_python-versions.yaml
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/manual_docker_build.yaml
Due: none

:recycle: Refactor concurrency and compat helpers (#219)
  flama/compat.py
  flama/concurrency.py
  tests/unit/test_concurrency.py
Due: format, lint, types

:sparkles: Path matching to core lib (#202)
  flama/_core/url.pyi
  flama/url.py
  lib/core/src/url.rs
  tests/core/test_url.py
  tests/test_url.py
Due: format, lint, types

:fire: Drop bundled UI primitives in favour of @vortico/ui (#218)
  lib/templates/src/ui/elements/ClipboardButton.tsx
  lib/templates/src/ui/elements/Code/Code.tsx
  lib/templates/src/ui/elements/Code/CodeBlock.tsx
  lib/templates/src/ui/elements/Code/CodeInline.tsx
  lib/templates/src/ui/elements/Code/HighlightCode.tsx
  lib/templates/src/ui/elements/Code/LineNumbers.tsx
  lib/templates/src/ui/elements/Code/PlainCode.tsx
  lib/templates/src/ui/elements/Code/index.ts
  lib/templates/src/ui/elements/Code/types.ts
  lib/templates/src/ui/elements/Logo.tsx
  lib/templates/src/ui/elements/Window.tsx
  lib/templates/src/ui/elements/index.ts
  lib/templates/src/ui/icons/Flama.tsx
  lib/templates/src/ui/icons/Vortico.tsx
  lib/templates/src/ui/icons/index.ts
  lib/templates/src/ui/lib/highlighter.ts
  lib/templates/src/ui/styles/base.css
  lib/templates/src/ui/styles/tailwind.css
  lib/templates/src/ui/styles/theme.css
  lib/templates/src/ui/types.ts
Due: none
