Repository vortico/flama: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, types

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=2000
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
        args:
          - --django
        exclude: "asserts.py|utils.py"
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
        exclude: "templates/.+\\.json"
  - repo: git@github.com:alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: format
        name: Code formatting
        entry: ./scripts/format
        language: system
        types: [file, python]
        exclude: "make"
      - id: lint
        name: Code linting
        entry: ./scripts/lint --fix
        language: system
        types: [file, python]
        exclude: "make"
      - id: types
        name: Static types check
        entry: ./scripts/typecheck
        language: system
        types: [file, python]
        exclude: "(make|tests/|examples/)"

:sparkles: Module for gathering telemetry data
  flama/middleware.py
  flama/telemetry/__init__.py
  flama/telemetry/data_structures.py
  flama/telemetry/middleware.py
  tests/telemetry/__init__.py
  tests/telemetry/test_data_structures.py
  tests/telemetry/test_middleware.py
Due: format, lint, types

:label: Simplify pagination types
  flama/applications.py
  flama/models/resource.py
  flama/pagination/paginator.py
  flama/pagination/types.py
  flama/resources/routing.py
  flama/routing/router.py
  flama/routing/routes/base.py
  flama/routing/routes/http.py
  flama/routing/routes/websocket.py
  flama/types/__init__.py
  flama/types/pagination.py
Due: format, lint, types

:sparkles: Update templates building process
  .gitignore
  package-lock.json
  templates/.babelrc
  templates/.eslintignore
  templates/babel.config.js
  templates/eslint.config.js
  templates/package-lock.json
  templates/package.json
  templates/postcss.config.js
  templates/prettier.config.js
  templates/src/apps/debug/error_404.tsx
  templates/src/apps/debug/error_500.tsx
  templates/src/apps/schemas/docs.tsx
  templates/src/components/ClipboardButton.tsx
  templates/src/components/debug/ErrorTraceback.tsx
  templates/src/components/debug/URLTree.tsx
  templates/src/html/main.html
  templates/src/pages/debug/error_404.html
  templates/src/pages/debug/error_500.html
  templates/src/pages/schemas/docs.html
  templates/src/templates/react.html.eta
  templates/tailwind.config.js
  templates/tsconfig.json
  templates/webpack.config.js
Due: none

:recycle: Update examples
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/add_models.py
  examples/background.py
  examples/components.py
  examples/data_schema.py
  examples/error.py
  examples/ml_responsive_pytorch.py
  examples/ml_responsive_sklearn.py
  examples/ml_responsive_tensorflow.py
  examples/pagination.py
Due: format, lint

:construction_worker: Update node version in CI
  .github/workflows/test_and_publish.yaml
  .github/workflows/test_pull_request_branch.yaml
Due: none

:sparkles: Enriched OpenAPI spec
  README.md
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/add_models.py
  examples/data_schema.py
  examples/error.py
  examples/hello_flama.py
  examples/pagination.py
  examples/resource.py
  flama/applications.py
  flama/cli/templates/app.py.j2
  flama/compat.py
  flama/schemas/generator.py
  flama/schemas/modules.py
  flama/schemas/openapi.py
  flama/types/__init__.py
  flama/types/openapi.py
  tests/conftest.py
  tests/schemas/test_data_structures.py
  tests/schemas/test_generator.py
  tests/schemas/test_modules.py
  tests/schemas/test_openapi.py
Due: format, lint, types

:art: Code blocks style tweaking
  templates/src/ui/elements/Code/CodeBlock.tsx
  templates/src/ui/elements/Code/HighlightCode.tsx
  templates/src/ui/elements/Code/LineNumbers.tsx
Due: none

:art: Standardise scrollbars style
  templates/src/apps/debug/error_404.tsx
  templates/src/apps/debug/error_500.tsx
  templates/src/styles/debug/error_404.css
  templates/src/styles/debug/error_500.css
  templates/src/styles/main.css
  templates/src/styles/prism.css
  templates/src/styles/scrollbar.css
  templates/src/styles/tailwind.css
Due: none

:sparkles: Add footer and menu to error pages
  flama/debug/data_structures.py
  templates/package.json
  templates/src/apps/debug/error_404.tsx
  templates/src/apps/debug/error_500.tsx
  templates/src/pages/debug/error_404.html
  templates/src/pages/debug/error_500.html
  templates/src/styles/tailwind.css
  templates/src/ui/components/Docs.tsx
  templates/src/ui/components/ErrorTitle.tsx
  templates/src/ui/components/ErrorTraceback.tsx
  templates/src/ui/components/Footer.tsx
  templates/src/ui/components/Menu.tsx
  templates/src/ui/components/Section.tsx
  templates/src/ui/components/index.ts
  templates/src/ui/elements/Logo.tsx
  templates/src/ui/elements/Table/Table.tsx
  templates/src/ui/elements/Window.tsx
  templates/src/ui/elements/index.ts
  templates/src/ui/logos/Flama.tsx
  templates/src/ui/logos/Vortico.tsx
  templates/src/ui/logos/index.ts
  templates/src/ui/types.ts
  templates/webpack.config.js
Due: format, lint, types

:art: Smaller footer
  templates/src/apps/debug/error_404.tsx
  templates/src/apps/debug/error_500.tsx
  templates/src/ui/components/Footer.tsx
Due: none

:art: Menu bar opaque
  templates/src/apps/debug/error_404.tsx
  templates/src/apps/debug/error_500.tsx
  templates/src/styles/debug/error_404.css
  templates/src/styles/debug/error_500.css
  templates/src/ui/components/Menu.tsx
  templates/src/ui/styles/tailwind.css
  templates/src/ui/styles/theme.css
  templates/webpack.config.js
Due: none

:art: Stantardise hover on error pages
  templates/src/apps/schemas/docs.tsx
  templates/src/styles/schemas/docs.css
  templates/src/ui/components/Docs.tsx
  templates/src/ui/components/ErrorTraceback.tsx
Due: none

:sparkles: Docs page using Scalar
  package-lock.json
  package.json
  templates/package-lock.json
  templates/package.json
  templates/src/apps/schemas/docs.tsx
  templates/src/data/schemas/Docs.tsx
  templates/src/data/schemas/index.ts
  templates/src/pages/schemas/docs.html
  templates/src/ui/components/Docs.tsx
  templates/src/ui/styles/docs.css
  templates/webpack.config.js
Due: none

:sparkles: Module for gathering telemetry data (#169)
  flama/middleware.py
  flama/telemetry/__init__.py
  flama/telemetry/data_structures.py
  flama/telemetry/middleware.py
  tests/telemetry/__init__.py
  tests/telemetry/test_data_structures.py
  tests/telemetry/test_middleware.py
Due: format, lint, types

:sparkles: Replace poetry with uv (#175)
  .github/CONTRIBUTING.md
  .github/workflows/test_and_publish.yaml
  .github/workflows/test_pull_request_branch.yaml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  scripts/black
  scripts/build
  scripts/check
  scripts/clean
  scripts/docker_push
  scripts/format
  scripts/install
  scripts/isort
  scripts/lint
  scripts/publish
  scripts/str_lib.sh
  scripts/test
  scripts/typecheck
  scripts/types
  scripts/version
  uv.lock
Due: none

:sparkles: Enrich OpenAPI specification (#181)
  README.md
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/add_models.py
  examples/data_schema.py
  examples/error.py
  examples/hello_flama.py
  examples/pagination.py
  examples/resource.py
  flama/applications.py
  flama/cli/templates/app.py.j2
  flama/compat.py
  flama/schemas/generator.py
  flama/schemas/modules.py
  flama/schemas/openapi.py
  flama/types/__init__.py
  flama/types/openapi.py
  tests/conftest.py
  tests/schemas/test_data_structures.py
  tests/schemas/test_generator.py
  tests/schemas/test_modules.py
  tests/schemas/test_openapi.py
Due: format, lint, types

:sparkles: Docs page using Scalar (#179)
  package-lock.json
  package.json
  templates/package-lock.json
  templates/package.json
  templates/src/apps/schemas/docs.tsx
  templates/src/data/schemas/Docs.tsx
  templates/src/data/schemas/index.ts
  templates/src/pages/schemas/docs.html
  templates/src/ui/components/Docs.tsx
  templates/src/ui/styles/docs.css
  templates/webpack.config.js
Due: none

:recycle: Rename middlewares.py into middleware.py
  flama/authentication/__init__.py
  flama/authentication/middleware.py
  tests/authentication/test_middleware.py
Due: format, lint, types

:bug: Remove warning from using marshmallow Number instad of Float
  tests/validation/test_schemas.py
Due: format, lint

:recycle: Rename some asdict methods into to_dict
  flama/authentication/jwt/jwt.py
  flama/schemas/generator.py
  flama/schemas/openapi.py
  tests/authentication/test_components.py
  tests/authentication/test_jwt.py
  tests/schemas/test_openapi.py
Due: format, lint, types

Notes added by 'git notes add'
  cba4457d3bda691de868b98a20a7b0a500545143
Due: none

Notes added by 'git notes add'
  f456a569db97ac7a9b76e88d90eae7a739db4437
Due: none

Notes added by 'git notes add'
  d5415ea14d275182ab237ac1d11322ecb5e9c812
Due: none

:sparkles: Replace poetry with uv (#175)
  .github/CONTRIBUTING.md
  .github/workflows/test_and_publish.yaml
  .github/workflows/test_pull_request_branch.yaml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  release.config.js
  scripts/black
  scripts/build
  scripts/check
  scripts/clean
  scripts/docker_push
  scripts/format
  scripts/install
  scripts/isort
  scripts/lint
  scripts/publish
  scripts/str_lib.sh
  scripts/test
  scripts/typecheck
  scripts/types
  scripts/version
  uv.lock
Due: none
