Repository vortico/flama: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, types

format:
  name: Code formatting
  entry: ./scripts/format
  language: system

lint:
  name: Code linting
  entry: ./scripts/lint --fix
  language: system

types:
  name: Static types check
  entry: ./scripts/types
  language: system

:bookmark: 1.11.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  29314ddb9658cc37ca22b0bfa80e6878eec590e1
Due: none

:bug: Correct module name on built schemas from other schemas
  flama/schemas/_libs/pydantic/adapter.py
Due: format, lint, types

:bookmark: 1.11.5 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  1a8afed0f10604bffa62f454e157e2ee81feaa8c
Due: none

:bug: Correct names on schemas generated for pagination
  flama/pagination/mixins/limit_offset.py
  flama/pagination/mixins/page_number.py
  flama/pagination/paginator.py
  flama/schemas/_libs/marshmallow/adapter.py
  flama/schemas/_libs/pydantic/adapter.py
  flama/schemas/_libs/typesystem/adapter.py
  flama/schemas/adapter.py
  flama/schemas/data_structures.py
  tests/schemas/test_data_structures.py
Due: format, lint, types

:bookmark: 1.11.6 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  bad5484ac9a0c8dc74c0f68da4bb56256f1fc8e6
Due: none

:bug: Remove double slash in schema subapps urls
  flama/schemas/generator.py
Due: format, lint, types

:bookmark: 1.11.7 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  084818a5628ec43ea012b0fec43e3649e81699a1
Due: none

:white_check_mark: Tests for injection on mounted applications
  tests/test_injection.py
Due: format, lint

:bug: Do not register multiple times same child schemas (#188)
  flama/schemas/generator.py
  tests/conftest.py
  tests/schemas/conftest.py
  tests/schemas/test_generator.py
Due: format, lint, types

:bug: Allow None objects while converting schema to dict (#190)
  flama/schemas/openapi.py
Due: format, lint, types

:bug: OpenAPI generator discovers nested schemas (#189)
  flama/schemas/generator.py
  tests/schemas/conftest.py
  tests/schemas/test_generator.py
Due: format, lint, types

:bookmark: 1.12.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  6907f3460b429cdc7c67404354120f544a7914da
Due: none

:label: Add Client init overloads
  flama/client.py
Due: format, lint, types

:bug: Reexport schema types from flama.schemas
  flama/http.py
  flama/pagination/mixins/limit_offset.py
  flama/pagination/mixins/page_number.py
  flama/routing/routes/http.py
  flama/schemas/__init__.py
  flama/schemas/generator.py
  flama/schemas/validation.py
  flama/types/schemas.py
  flama/validation.py
  tests/schemas/test_validation.py
Due: format, lint, types

:bookmark: 1.12.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  ccd189956bc93b7295b4797e95d08feef91d35bd
Due: none

:bug: Correct signature on resource methods
  flama/pagination/decorators.py
  flama/pagination/mixins/__init__.py
  flama/pagination/paginator.py
  flama/pagination/paginators/__init__.py
  flama/pagination/paginators/base.py
  flama/pagination/paginators/limit_offset.py
  flama/pagination/paginators/page_number.py
  flama/resources/data_structures.py
  flama/resources/resource.py
  flama/resources/routing.py
  flama/routing/routes/base.py
  flama/routing/routes/http.py
  flama/routing/routes/websocket.py
  tests/resources/test_crud.py
  tests/resources/test_modules.py
  tests/resources/test_resource.py
  tests/resources/test_routing.py
  tests/routing/routes/test_http.py
  tests/test_pagination.py
Due: format, lint, types

:bookmark: 1.12.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  28dbc2f58c1a0e5fa11b33c9b5def684db208af6
Due: none

:bug: Flama client optional httpx dependency
  flama/client.py
  flama/ddd/repositories/__init__.py
  flama/ddd/repositories/http.py
  flama/exceptions.py
  templates/package-lock.json
  tests/ddd/repositories/test_http.py
  tests/ddd/workers/test_http.py
  tests/resources/test_workers.py
Due: format, lint, types

:bookmark: 1.12.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  55494b918b3cfb0cc2b36cf2b89d0b73790b5f8a
Due: none

:green_heart: Docker multi-arch build
  .github/workflows/manual_docker_build.yaml
  .github/workflows/test_and_publish.yaml
Due: none

:bug: Use EnhancedJSONEncoder for templates safe_json
  flama/http.py
  templates/package-lock.json
Due: format, lint, types

:bookmark: 1.12.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  format: any of: \.py$, but not: make
  lint: any of: \.py$, but not: make
  types: any of: \.py$, but not: (make|tests/|examples/)
