Repository vortico/flama: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, types

format:
  name: Code formatting
  entry: ./scripts/format
  language: system

lint:
  name: Code linting
  entry: ./scripts/lint --fix
  language: system

types:
  name: Static types check
  entry: ./scripts/types
  language: system

:sparkles: Module for gathering telemetry data (#169)
  flama/middleware.py
  flama/telemetry/__init__.py
  flama/telemetry/data_structures.py
  flama/telemetry/middleware.py
  tests/telemetry/__init__.py
  tests/telemetry/test_data_structures.py
  tests/telemetry/test_middleware.py
Due: format, lint, types

:label: Simplify pagination types
  flama/applications.py
  flama/models/resource.py
  flama/pagination/paginator.py
  flama/pagination/types.py
  flama/resources/routing.py
  flama/routing/router.py
  flama/routing/routes/base.py
  flama/routing/routes/http.py
  flama/routing/routes/websocket.py
  flama/types/__init__.py
  flama/types/pagination.py
Due: format, lint, types

:sparkles: Enrich OpenAPI specification (#181)
  README.md
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/add_models.py
  examples/data_schema.py
  examples/error.py
  examples/hello_flama.py
  examples/pagination.py
  examples/resource.py
  flama/applications.py
  flama/cli/templates/app.py.j2
  flama/compat.py
  flama/schemas/generator.py
  flama/schemas/modules.py
  flama/schemas/openapi.py
  flama/types/__init__.py
  flama/types/openapi.py
  tests/conftest.py
  tests/schemas/test_data_structures.py
  tests/schemas/test_generator.py
  tests/schemas/test_modules.py
  tests/schemas/test_openapi.py
Due: format, lint, types

:recycle: Update examples
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/add_models.py
  examples/background.py
  examples/components.py
  examples/data_schema.py
  examples/error.py
  examples/ml_responsive_pytorch.py
  examples/ml_responsive_sklearn.py
  examples/ml_responsive_tensorflow.py
  examples/pagination.py
Due: format, lint

:sparkles: Docs page using Scalar (#179)
  package-lock.json
  package.json
  templates/package-lock.json
  templates/package.json
  templates/src/apps/schemas/docs.tsx
  templates/src/data/schemas/Docs.tsx
  templates/src/data/schemas/index.ts
  templates/src/pages/schemas/docs.html
  templates/src/ui/components/Docs.tsx
  templates/src/ui/styles/docs.css
  templates/webpack.config.js
Due: none

:bookmark: 1.10.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  f579405a5d878875ec36c9a7de237ea3ec29d05a
Due: none

:bug: Explicit load of scalar references css
  templates/src/ui/components/Docs.tsx
  templates/webpack.config.js
Due: none

:bug: Use schema endpoint for loading docs
  flama/schemas/modules.py
  templates/src/data/schemas/Docs.tsx
  templates/src/ui/components/Docs.tsx
  tests/schemas/test_modules.py
Due: format, lint, types

:bookmark: 1.10.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  d47e38fd785cbdc923696620c2131b3bb6b4e62e
Due: none

:bug: AuthenticationMiddleware continue execution on 404 or 405
  flama/authentication/middleware.py
  flama/routing/router.py
  tests/authentication/test_middleware.py
  uv.lock
Due: format, lint, types

:bug: Blacklist for AuthenticationMiddleware (#183)
  flama/authentication/middleware.py
  tests/authentication/test_middleware.py
Due: format, lint, types

:bug: Blacklist for TelemetryMiddleware (#184)
  flama/telemetry/middleware.py
  tests/telemetry/test_middleware.py
Due: format, lint, types

:bug: Custom tags for Middlewares (#185)
  flama/authentication/middleware.py
  flama/telemetry/middleware.py
  tests/telemetry/test_middleware.py
Due: format, lint, types

:bookmark: 1.10.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  bea3ff709393df30cb116c85ef7bd7b8b7b1f209
Due: none

:bug: Root path on mount endpoints
  flama/resources/routing.py
  flama/routing/routes/mount.py
  flama/url.py
  tests/debug/test_data_structures.py
  tests/resources/test_routing.py
  tests/routing/routes/test_mount.py
  tests/routing/test_router.py
Due: format, lint, types

:bookmark: 1.10.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  3dddae4a3cdc96ebb10403f3b602364ce43665ba
Due: none

:green_heart: Update lock in bump version
  pyproject.toml
  scripts/version
  uv.lock
Due: none

:sparkles: Cache for component resolution value
  flama/injection/injector.py
  flama/injection/resolver.py
Due: format, lint, types

:bookmark: 1.11.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  07f38ebce79b447bd0f72fb8935b03787dfaa1e7
Due: none

:bug: Injection cache per request
  flama/applications.py
  flama/authentication/middleware.py
  flama/ddd/repositories/sqlalchemy.py
  flama/endpoints/base.py
  flama/endpoints/http.py
  flama/endpoints/websocket.py
  flama/http.py
  flama/injection/__init__.py
  flama/injection/cache.py
  flama/injection/components.py
  flama/injection/context.py
  flama/injection/injector.py
  flama/injection/resolver.py
  flama/resources/crud.py
  flama/routing/router.py
  flama/routing/routes/base.py
  flama/routing/routes/http.py
  flama/routing/routes/mount.py
  flama/routing/routes/websocket.py
  flama/telemetry/data_structures.py
  flama/url.py
  tests/endpoints/test_base.py
  tests/endpoints/test_http.py
  tests/endpoints/test_websocket.py
  tests/injection/test_injector.py
  tests/injection/test_resolver.py
  tests/resources/test_crud.py
  tests/routing/routes/test_websocket.py
  tests/test_applications.py
  tests/validation/test_params.py
Due: format, lint, types

:bookmark: 1.11.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  ffe9d95b689fb6748138824a53d1c1329805ce2b
Due: none

:bug: Use parameter as part of injection cache key
  flama/injection/cache.py
  flama/injection/injector.py
  flama/injection/resolver.py
  tests/injection/test_injector.py
  tests/injection/test_resolver.py
Due: format, lint, types

:bookmark: 1.11.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  9524e49f3cdc824cb9d48c2c1b6f2f5a9224b4e1
Due: none

:label: Improve typing for flama default modules
  flama/applications.py
  flama/schemas/modules.py
Due: format, lint, types

:bug: Deprecate resource_method in favor of ResourceRoute.method
  examples/add_model_component.py
  examples/add_model_resource.py
  examples/ml_responsive_pytorch.py
  examples/ml_responsive_sklearn.py
  examples/ml_responsive_tensorflow.py
  flama/models/resource.py
  flama/resources/crud.py
  flama/resources/data_structures.py
  flama/resources/modules.py
  flama/resources/routing.py
  tests/resources/test_crud.py
  tests/resources/test_modules.py
  tests/resources/test_resource.py
  tests/resources/test_routing.py
  tests/test_applications.py
Due: format, lint, types

:bookmark: 1.11.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  e3452ae0bb5b2ae785306829eb251ea8ff073c08
Due: none

:bug: Flag for including resources in schema
  flama/resources/modules.py
  flama/resources/routing.py
  tests/resources/test_routing.py
Due: format, lint, types

Path conditions:
  format: any of: \.py$, but not: make
  lint: any of: \.py$, but not: make
  types: any of: \.py$, but not: (make|tests/|examples/)
