Repository vortico/flama: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, types

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=2000
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: name-tests-test
        args:
          - --django
        exclude: "asserts.py|utils.py"
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
        exclude: "templates/.+\\.json"
  - repo: git@github.com:alessandrojcm/commitlint-pre-commit-hook
    rev: v8.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: format
        name: Code formatting
        entry: ./scripts/format
        language: system
        types: [file, python]
        exclude: "make"
      - id: lint
        name: Code linting
        entry: ./scripts/lint --fix
        language: system
        types: [file, python]
        exclude: "make"
      - id: types
        name: Static types check
        entry: ./scripts/types
        language: system
        types: [file, python]
        exclude: "(make|tests/|examples/)"

:wrench: Migrate templates to pnpm and @vortico/ui (#218)
  lib/templates/.npmrc
  lib/templates/eslint.config.js
  lib/templates/package-lock.json
  lib/templates/package.json
  lib/templates/pnpm-lock.yaml
  lib/templates/pnpm-workspace.yaml
  lib/templates/postcss.config.js
  lib/templates/prettier.config.js
  lib/templates/tsconfig.json
Due: none

:package: Replace pyright with ty (#209)
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/manual_docker_build.yaml
  .github/workflows/test_pull_request_branch.yaml
  Makefile
  pyproject.toml
  scripts/build
  scripts/check
  scripts/clean
  scripts/docker_push
  scripts/format
  scripts/install
  scripts/lint
  scripts/publish
  scripts/str_lib.sh
  scripts/test
  scripts/typecheck
  scripts/version
  uv.lock
Due: none

:sparkles: Add OpenAI dialect and serving (#214)
  flama/models/resources/serving/llm/openai.py
  flama/models/wire/dialect/llm/openai/__init__.py
  flama/models/wire/dialect/llm/openai/assembler.py
  flama/models/wire/dialect/llm/openai/dialect.py
  flama/models/wire/dialect/llm/openai/parser.py
  flama/models/wire/dialect/llm/openai/renderer.py
  flama/schemas/_libs/marshmallow/schemas/llm_openai.py
  flama/schemas/_libs/pydantic/schemas/llm_openai.py
  flama/schemas/_libs/typesystem/schemas/llm_openai.py
  tests/unit/models/resources/serving/llm/test_openai.py
  tests/unit/models/wire/dialect/llm/openai/test_dialect.py
  tests/unit/models/wire/dialect/llm/openai/test_parser.py
  tests/unit/models/wire/dialect/llm/openai/test_renderer.py
  tests/unit/schemas/test_llm_openai.py
Due: format, lint, types

:recycle: Restructure injection components and context for MCP
  flama/applications.py
  flama/context.py
  flama/endpoints/base.py
  flama/endpoints/components.py
  flama/endpoints/http.py
  flama/endpoints/jsonrpc.py
  flama/endpoints/websocket.py
  flama/http/components.py
  flama/injection/context.py
  flama/injection/exceptions.py
  flama/mcp/__init__.py
  flama/mcp/components.py
  flama/mcp/endpoint.py
  flama/mcp/types.py
  flama/schemas/components.py
  flama/types/__init__.py
  flama/types/endpoints.py
  flama/types/json_rpc.py
  tests/unit/endpoints/test_base.py
  tests/unit/endpoints/test_http.py
  tests/unit/endpoints/test_jsonrpc.py
  tests/unit/http/test_components.py
  tests/unit/injection/test_context.py
  tests/unit/injection/test_injector.py
  tests/unit/injection/test_resolver.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/schemas/test_components.py
Due: format, lint, types

:label: Type for HTTP method (#209)
  flama/_core/hello_world.pyi
  flama/_core/json_encoder.pyi
  flama/_core/route_table.pyi
  flama/_core/url.pyi
  flama/applications.py
  flama/asgi.py
  flama/endpoints/http.py
  flama/http/__init__.py
  flama/http/method.py
  flama/resources/data_structures.py
  flama/resources/modules.py
  flama/resources/routing.py
  flama/routing/router.py
  flama/routing/routes/base.py
  flama/routing/routes/http.py
  flama/types/applications.py
  flama/types/endpoints.py
  flama/types/http.py
  lib/core/src/route_table.rs
Due: format, lint, types

:wrench: Ignore .flm files
  .gitignore
Due: none

:sparkles: Upgrade utility (#223)
  flama/_cli/__main__.py
  flama/_cli/commands/upgrade.py
  flama/upgrade/__init__.py
  flama/upgrade/codemods/__init__.py
  flama/upgrade/codemods/v2.py
  flama/upgrade/migration.py
  flama/upgrade/operations.py
  flama/upgrade/report.py
  flama/upgrade/runner.py
  flama/upgrade/source.py
  tests/unit/cli/commands/test_upgrade.py
  tests/unit/upgrade/test_migration.py
  tests/unit/upgrade/test_operations.py
  tests/unit/upgrade/test_report.py
  tests/unit/upgrade/test_runner.py
  tests/unit/upgrade/test_source.py
  tests/unit/upgrade/test_v2.py
Due: format, lint, types

:label: Fixes some failing typing (#209)
  .gitignore
  flama/cli/commands/start.py
  flama/cli/config/config.py
  flama/ddd/repositories/sqlalchemy.py
  flama/debug/data_structures.py
  flama/debug/types.py
  flama/endpoints/__init__.py
  flama/endpoints/base.py
  flama/endpoints/http.py
  flama/endpoints/state.py
  flama/endpoints/websocket.py
  flama/http.py
  flama/injection/components.py
  flama/injection/exceptions.py
  flama/middleware.py
  flama/models/modules.py
  flama/resources/data_structures.py
  flama/resources/routing.py
  flama/routing/routes/http.py
  flama/routing/routes/websocket.py
  flama/schemas/__init__.py
  flama/schemas/generator.py
  flama/serialize/model_serializers/base.py
  tests/endpoints/test_base.py
  tests/endpoints/test_http.py
  tests/endpoints/test_websocket.py
Due: format, lint, types

:truck: Restructure templates into per-app layout (#218)
  lib/templates/src/apps/debug/components/EnvironmentTable.tsx
  lib/templates/src/apps/debug/components/ErrorTitle.tsx
  lib/templates/src/apps/debug/components/ErrorTraceback.tsx
  lib/templates/src/apps/debug/components/RequestTable.tsx
  lib/templates/src/apps/debug/components/Section.tsx
  lib/templates/src/apps/debug/components/Table/ArrayValue.tsx
  lib/templates/src/apps/debug/components/Table/MapValue.tsx
  lib/templates/src/apps/debug/components/Table/Row.tsx
  lib/templates/src/apps/debug/components/Table/Table.tsx
  lib/templates/src/apps/debug/components/Table/Value.tsx
  lib/templates/src/apps/debug/components/Table/index.ts
  lib/templates/src/apps/debug/components/URLTree.tsx
  lib/templates/src/apps/debug/components/index.ts
  lib/templates/src/apps/debug/data/Environment.ts
  lib/templates/src/apps/debug/data/Error.ts
  lib/templates/src/apps/debug/data/Request.ts
  lib/templates/src/apps/debug/data/URLs.ts
  lib/templates/src/apps/debug/data/index.ts
  lib/templates/src/apps/debug/error_404.tsx
  lib/templates/src/apps/debug/error_500.tsx
  lib/templates/src/apps/debug/lib/codecs/html.ts
  lib/templates/src/apps/debug/lib/codecs/index.ts
  lib/templates/src/apps/schemas/components/Docs.tsx
  lib/templates/src/apps/schemas/components/index.ts
  lib/templates/src/apps/schemas/data/Docs.tsx
  lib/templates/src/apps/schemas/data/index.ts
  lib/templates/src/apps/schemas/docs.tsx
  lib/templates/src/apps/schemas/styles/docs.css
  lib/templates/src/ui/components/Footer.tsx
  lib/templates/src/ui/components/Menu.tsx
  lib/templates/src/ui/components/index.ts
Due: none

:label: Fixes some type errors
  .github/actions/build-templates/action.yaml
  .github/actions/setup/action.yaml
  .github/dependabot.yml
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/manual_docker_build.yaml
  flama/ddd/workers/http.py
  flama/http/data_structures.py
  flama/models/transport/input/llm/shape/base.py
  flama/models/transport/input/llm/shape/chat.py
  flama/models/transport/input/llm/shape/conversation.py
  flama/models/transport/input/llm/shape/raw.py
  flama/models/wire/dialect/base.py
  flama/models/wire/dialect/llm/anthropic/assembler.py
  flama/models/wire/dialect/llm/anthropic/dialect.py
  flama/models/wire/dialect/llm/native/assembler.py
  flama/models/wire/dialect/llm/native/dialect.py
  flama/models/wire/dialect/llm/ollama/assembler.py
  flama/models/wire/dialect/llm/ollama/dialect.py
  flama/models/wire/dialect/llm/openai/assembler.py
  flama/models/wire/dialect/llm/openai/dialect.py
  flama/routing/routes/http.py
  flama/schemas/_libs/pydantic/adapter.py
  flama/schemas/openapi.py
  tests/unit/models/wire/dialect/test_base.py
  uv.lock
Due: format, lint, types

:construction_worker: Fixes CI building
  .github/CONTRIBUTING.md
  .github/workflows/_python-versions.yaml
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/manual_docker_build.yaml
Due: none

:sparkles: JSON encoding to core lib (#202)
  flama/_core/json_encoder.pyi
  flama/cli/commands/model.py
  flama/http/response.py
  flama/http/templates.py
  lib/core/src/json_encoder.rs
  tests/core/__init__.py
  tests/core/test_json_encoder.py
  tests/test_http.py
Due: format, lint, types

:recycle: Refactor serialize package and tests
  flama/serialize/compression.py
  flama/serialize/data_structures.py
  flama/serialize/model_serializers/base.py
  flama/serialize/model_serializers/transformers.py
  flama/serialize/model_serializers/vllm.py
  flama/serialize/protocols/base.py
  flama/serialize/protocols/v1.py
  flama/serialize/serializer.py
  tests/conftest.py
  tests/unit/serialize/conftest.py
  tests/unit/serialize/test_compression.py
  tests/unit/serialize/test_data_structures.py
  tests/unit/serialize/test_model_serializers.py
  tests/unit/serialize/test_protocols.py
  tests/unit/serialize/test_serializer.py
  tests/unit/serialize/test_transformers_serializer.py
  tests/unit/serialize/test_vllm_serializer.py
Due: format, lint, types

:bug: Key the DI signature cache on the underlying function
  flama/injection/injector.py
  tests/unit/injection/test_injector.py
Due: format, lint, types

:sparkles: Add Tasks, Elicitation and MCP Apps extensions to MCP (#221)
  flama/mcp/__init__.py
  flama/mcp/components.py
  flama/mcp/data_structures.py
  flama/mcp/endpoint.py
  flama/mcp/module.py
  flama/mcp/server.py
  flama/mcp/tasks.py
  flama/schemas/data_structures.py
  tests/unit/mcp/conftest.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_data_structures.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/mcp/test_module.py
  tests/unit/mcp/test_server.py
  tests/unit/mcp/test_tasks.py
  tests/unit/schemas/test_setup.py
Due: format, lint, types

:recycle: Apply best-practices to rust modules
  Cargo.lock
  flama/_core/compression.pyi
  flama/_core/route_table.pyi
  flama/_core/url.pyi
  flama/codecs/compression/brotli.py
  flama/codecs/compression/gzip.py
  flama/compression.py
  flama/routing/router.py
  flama/url.py
  lib/core/Cargo.toml
  lib/core/rustfmt.toml
  lib/core/src/compression.rs
  lib/core/src/cookies.rs
  lib/core/src/http.rs
  lib/core/src/json_encoder.rs
  lib/core/src/lib.rs
  lib/core/src/multipart.rs
  lib/core/src/route_table.rs
  lib/core/src/url.rs
  tests/unit/test_compression.py
Due: format, lint, types

:wrench: Wire up build scripts and CI (#219)
  .github/CONTRIBUTING.md
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  Makefile
  scripts/_env
  scripts/build
  scripts/fetch_templates
  scripts/install
  scripts/login
  scripts/publish
Due: none

:sparkles: Support decimal.Decimal parameters end-to-end
  flama/schemas/_libs/marshmallow/fields.py
  flama/schemas/_libs/typesystem/fields.py
  flama/types/http.py
  lib/core/src/json_encoder.rs
  tests/unit/core/test_json_encoder.py
  tests/unit/schemas/test_data_structures.py
  tests/unit/validation/test_params.py
Due: format, lint, types

:arrow_up: Remove zstd and add httpx to required dependencies
  pyproject.toml
  uv.lock
Due: none

:arrow_up: Add LLM runtime dependencies (#219)
  pyproject.toml
  uv.lock
Due: none

:sparkles: Add chatbot template application (#218)
  lib/templates/src/apps/chatbot/chat.tsx
  lib/templates/src/apps/chatbot/components/ChatApp.tsx
  lib/templates/src/apps/chatbot/components/EmptyChatInfo.tsx
  lib/templates/src/apps/chatbot/components/Markdown.tsx
  lib/templates/src/apps/chatbot/components/PromptInput.tsx
  lib/templates/src/apps/chatbot/components/conversation/Conversation.tsx
  lib/templates/src/apps/chatbot/components/conversation/ScrollDownButton.tsx
  lib/templates/src/apps/chatbot/components/conversation/index.ts
  lib/templates/src/apps/chatbot/components/index.ts
  lib/templates/src/apps/chatbot/components/message/ActionBar.tsx
  lib/templates/src/apps/chatbot/components/message/Error.tsx
  lib/templates/src/apps/chatbot/components/message/Loading.tsx
  lib/templates/src/apps/chatbot/components/message/Message.tsx
  lib/templates/src/apps/chatbot/components/message/Output.tsx
  lib/templates/src/apps/chatbot/components/message/Thought.tsx
  lib/templates/src/apps/chatbot/components/message/Tool.tsx
  lib/templates/src/apps/chatbot/components/message/User.tsx
  lib/templates/src/apps/chatbot/components/message/index.ts
  lib/templates/src/apps/chatbot/context/chat/ChatContext.tsx
  lib/templates/src/apps/chatbot/context/chat/index.ts
  lib/templates/src/apps/chatbot/context/chat/parseEvent.ts
  lib/templates/src/apps/chatbot/context/chat/reducer.ts
  lib/templates/src/apps/chatbot/context/chat/types.ts
  lib/templates/src/apps/chatbot/context/chat/useChat.ts
  lib/templates/src/apps/chatbot/context/chat/useChatStream.ts
  lib/templates/src/apps/chatbot/data/Chat.ts
  lib/templates/src/apps/chatbot/data/index.ts
  lib/templates/src/pages/chatbot/chat.html
Due: none

:sparkles: Add 2020-12 tool schemas and trace context to MCP (#221)
  flama/mcp/components.py
  flama/mcp/data_structures.py
  flama/mcp/endpoint.py
  flama/mcp/server.py
  flama/schemas/data_structures.py
  flama/schemas/generator.py
  flama/schemas/modules.py
  flama/schemas/openapi.py
  flama/schemas/registry.py
  tests/unit/mcp/test_components.py
  tests/unit/mcp/test_data_structures.py
  tests/unit/mcp/test_endpoint.py
  tests/unit/mcp/test_server.py
  tests/unit/models/engine/backend/llm/test_base.py
  tests/unit/models/wire/dialect/llm/openai/test_dialect.py
  tests/unit/schemas/test_data_structures.py
  tests/unit/schemas/test_generator.py
  tests/unit/schemas/test_openapi.py
  tests/unit/schemas/test_registry.py
  tests/unit/serialize/model_serializers/test_transformers.py
  tests/unit/serialize/test_serializer.py
Due: format, lint, types

:recycle: Zstd compression is now stream-based
  lib/core/src/compression.rs
Due: none

:construction_worker: Skip template tests on dependabot
  tests/_utils/__init__.py
  tests/_utils/templates.py
  tests/unit/models/resources/serving/llm/test_native.py
  tests/unit/schemas/test_modules.py
Due: format, lint

:bookmark: 2.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  42a3fa317c3bb237c98001a582dc730d5b3d6f00
Due: none

:construction_worker: Decouple wheels and dockers building failures
  .github/workflows/ci_production.yaml
  .github/workflows/manual_docker_build.yaml
Due: none

:construction_worker: Accurated performance tests
  .github/actions/setup/action.yaml
  .github/workflows/ci_production.yaml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/seed_benchmarks.yaml
  benchmarks/README.md
  benchmarks/results/.gitkeep
  benchmarks/results/1.12.4.json
  benchmarks/results/2.0.0.json
  benchmarks/results/baseline.json
  pyproject.toml
  scripts/benchmark
  scripts/install
  scripts/performance
  tests/performance/conftest.py
  tests/performance/test_ml.py
  uv.lock
Due: format, lint

:chart_with_upwards_trend: Seed benchmark history (2.0.0 + baseline 1.12.4) [skip ci]
  .github/workflows/ci_production.yaml
  .github/workflows/seed_benchmarks.yaml
  benchmarks/README.md
  benchmarks/results/2.0.0.json
  benchmarks/results/baseline.json
Due: none

:construction_worker: Load commitlint config as ESM and raise header limit to 120
  commitlint.config.mjs
Due: none

:construction_worker: Add Dependabot cargo/uv/npm updates, auto-merge and CI gate
  .github/dependabot.yml
  .github/workflows/ci_pull_request.yaml
  .github/workflows/dependabot-automerge.yaml
Due: none

:construction_worker: Run Dependabot version updates monthly
  .github/dependabot.yml
Due: none

:bug: Lazy-load optional ML dependencies in the LLM backend
  flama/models/engine/backend/llm/_base.py
Due: format, lint, types

:construction_worker: Push releases with a GitHub App token
  .github/workflows/ci_production.yaml
Due: none

:green_heart: Unpin semantic-release-gitmoji in the release workflow
  .github/workflows/ci_production.yaml
Due: none

:bug: Re-export HTTP repositories from flama.ddd.repositories
  flama/ddd/repositories/__init__.py
  tests/unit/ddd/repositories/test_http.py
Due: format, lint, types
